<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Control Number:</strong>
  <%= @book.control_number %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @book.published_at %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<hr>

<ul>
<% @book.versions.each do |version| %>
  <li>
    <strong><%= version.index.succ %>:</strong>
    <%= passivated_event_name(version).capitalize %> at <%= created_at(version) %>

    <ul>
    <% version.changeset.each do |attr, diff| %>
      <li>
      <%= attr %> is changed from <strong><%= diff.first %></strong> to <strong><%= diff.second %></strong>
      </li>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>
